# Learning Python

Some basics

In [5]:
#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

In [9]:
print(len(dir(__builtins__))) # Number of python builtin functions
print(dir(__builtins__))

156
['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [6]:
builtin_funs = [x for x in dir(__builtins__) if not x.startswith("__") or not x.endswith("Error")]
print(builtin_funs)

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

<>:1: SyntaxWarning: 'bool' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'bool' object is not callable; perhaps you missed a comma?
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_12436\704655258.py:1: SyntaxWarning: 'bool' object is not callable; perhaps you missed a comma?
  True()
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_12436\704655258.py:1: SyntaxWarning: 'bool' object is not callable; perhaps you missed a comma?
  True()
C:\Users\Cube Statistica\AppData\Local\Temp\ipykernel_12436\704655258.py:1: SyntaxWarning: 'bool' object is not callable; perhaps you missed a comma?
  True()

TypeError: 'bool' object is not callable

# W 3 Schools Lessons

#### Multi-assignment in python

In [3]:
x, y, z, = 1, 2, 3
print(x, y, z)

1 2 3

#### Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#### Float and scientific notation for writing floats

Float can also be scientific numbers with an "e" or "E" to indicate the power of 10.

In [21]:
x = 35e3
y = 12E4
z = -87.7e100

print(x, "\n", y, "\n", z)

35000.0
 120000.0
 -8.77e+101

In [10]:
# Get the datatype
try:
    x1 = {name:"Faizan", "age":34}
except:
    print("Did not define the dict correctly.", "\n")

x1 = {"name":"Faizan", "age":34}
print(x1)

try:
    for obj in list:
        try:
            print(type(obj))
        except:
            print("The obj is not assinged anything.|")
except:
    print("Learning with errors.", "\n")

Did not define the dict correctly.

{'name': 'Faizan', 'age': 34}
Learning with errors.

#### The correct way of creating a dictionary obj

Use this `x = dict(name = "Faizan", age = 34)`

Instead of `x = {"name" = "Faizan", "age" = 34}`

There is a lot less typing invovled in the first method. Also, not making the key a string feels more natural to me, though for automation it is of course better to have the key entered as a string. Also, using the equal sign `=` instead of the colon `:` for linking the key with the value also feels more natural.

In [11]:
x = dict(name="John", age=36)
print(x, type(x))

{'name': 'John', 'age': 36} <class 'dict'>

In [3]:
x = memoryview(bytes(5))
x

### Random Numbers in Python

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:
Import the random module, and display a random number between 1 and 9:

In [22]:
import random

print(random.randrange(1, 10))

1

## Strings, String Methods, and manipulation in python

String manipulation is amazing in python. It is next level in my humble opinion.

In [23]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [24]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [25]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

We can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [27]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [28]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [30]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Illegal characters

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

Method	Description
* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

## Format String {}

Index Numbers
You can use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders:

In [2]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

Also, if you want to refer to the same value more than once, use the index number:

In [3]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

### Named Indexes
You can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

In [4]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

## Boolians

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

In [9]:
x, y, z, z1, z2, z3 = "Hello", 15, -1, "", 0, None
print(x, y, z, z1, z2, z3)
print( bool(x), bool(y), bool(z), bool(z1), bool(z2), bool(z3) )

Hello 15 -1  0 None
True True True False False False

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [11]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions Can also return Boolans
You can create functions that returns a Boolean Value:

Also, You can execute code based on the Boolean answer of a function:  !!!!

In [12]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

This is useful for automation where the type and the obj can be passed into the function isinstance():

In [13]:
x = 200
print(isinstance(x, int))

True

## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

%	         Modulus	     x % y This is the remainder operator the percent sign %

In [14]:
4%2

0

In [15]:
5%2

1

In [16]:
15%2

1

//	Floor division	x // y

In [20]:
4//2, 3//2, 5//2, 15//2

(2, 1, 2, 7)

In [23]:
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

## Lists Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [24]:
["apple", "banana", "cherry", "apple", "cherry"]

['apple', 'banana', 'cherry', 'apple', 'cherry']

A list can contain different data types:

In [25]:
["abc", 34, True, 40, "male"]

['abc', 34, True, 40, 'male']

## Python Collections (Arrays) Summary

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable**, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered*** and changeable. No duplicate members.

** Set items are unchangeable, but you can remove and/or add items whenever you like.

*** As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## List Methods

### Sort()

This reverse argument can be very usefull: `thislist.sort(reverse = True)`

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

## Append Items

In [34]:
# We can append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [35]:
# Insert "watermelon" as the third item: 
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Extend List

To append elements from another list to the current list, use the extend() method.

Add the elements of tropical to thislist:

In [36]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

Add elements of a tuple to a list:

In [37]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Now try adding elements from a dictionary to the list.

## Remove Specified Item by specifying the actual object

The str.remove() method removes the specified item.

This list method modifies the actual list!!

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

## Remove Specified Index

The str.pop() method removes the specified index.

If you do not specify the index, the pop() method removes the last item.

This list method modifies the actual list!!!!!

In [44]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.pop(1)
print(thislist)
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']
['apple']

### The del keyword

The del keyword also removes the specified index:

`del thislist[0]`

The del keyword can also delete the list completely.

`del thislist`

## Clear the List

The clear() method empties the list.

The list still remains, but it has no content.

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Case Insensitive Sort

Case sensitive sorting can give an unexpected result.

Perform a case-insensitive sort of the list:

In [38]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

## Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

Another way to make a copy is to use the built-in method list().
Make a copy of a list with the list() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

## List Comprehension

Makes syntax concise!! So useful and beautiful.

#### The Syntax
`newlist = [expression for item in iterable if condition == True]`

Same list but make everything lower or upper if the word contains the letter "a".

`ulist = [x.upper() for x in list_of_strings if a in x]`

This is really amazing and interesting.


The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [34]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [25]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist] # Quickest way to loop and create list

apple
banana
cherry

[None, None, None]

In [31]:
# Long way of making a list with only fruits containing the letter "a".

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [32]:
# With list comprehension you can do all that with only one line of code:

# complete list
print([x for x in fruits])

# list with if condition
print([x for x in fruits if 'a' in x])

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'mango']

### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [56]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

lists = list1 + list2
print(lists)

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list.

Use the extend() method to add list2 at the end of list1:

In [51]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Method	Description

- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

#### Notice that the find method that exists for the string method does not exist here as a list method. So for lists need to use the index() method.

In [54]:
x = range(5)
print(range(5))

range(0, 5)

In [55]:
x = list(range(5))
x

[0, 1, 2, 3, 4]

In [58]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [14]:
a = [range(6)]
print(type(a), a)
print(type(range(6)))
a.reverse()
a.sort(reverse = True)
print(a)

<class 'list'> [range(0, 6)]
<class 'range'>
[range(0, 6)]

In [21]:
a = list(range(5))
a.reverse()
# a.sort().reverse() # This does not work. Why?
print(a.sort()) # Why is this None. This has no type?
print(a)

a.sort()
print(a)

#.reverse()

None
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

## Tuples

A tuple can contain different data types.

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [36]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [10]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

# When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

('apple', 'banana', 'cherry', 'orange')

The del keyword can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

## Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [12]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

green1, yellow1, red1 = fruits

print(green1, yellow1, red1)

# Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry
apple banana cherry

## Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
    
Assign the rest of the values as a list called "red":

In [15]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.
Add a list of values the "tropic" variable

In [16]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
Join Two Tuples

To join two or more tuples you can use the + operator:
    
Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [17]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods
Python only has two built-in methods that you can use on tuples.

count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

## Python Dictionaries

Dictionary is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

The values in dictionary items can be of any data type:

In [22]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

print(thisdict['brand']) # Dictionary elements are indexed via the key. You cannot access or refer to it via numerical integer.

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
Ford

To determine how many items a dictionary has, use the len() function:

In [23]:
print(len(thisdict))

3

You can access the items of a dictionary by referring to its key name, inside square brackets:

There is also a method called get() that will give you the same result:
    
`x = thisdict.get("model")`

The keys() method will return a list of all the keys in the dictionary. Get a list of the keys:

`x = thisdict.keys()`

The values() method will return a list of all the values in the dictionary.

`x = thisdict.values()`

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

Add a new item or a change to the original values to the original dictionary, and see that the keys list gets updated as well:

In [26]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"
car["year"] = 2020

print(car) #after the change

dict_keys(['brand', 'model', 'year'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}

### Get Items

The items() method will return each item in a dictionary, as tuples in a list.

In [28]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
Change Values

You can change the value of a specific item by referring to its key name.
    
The update() method will update the dictionary with the items from the given argument.

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
## Remove Dictionary Items

The pop() method removes the item with the specified key name.

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

# thisdict.pop() # Will give error # This unfortunately does not have any default behaviour. That is with .popitem()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [33]:
The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead)

SyntaxError: invalid syntax (2074781666.py, line 1)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
The del keyword removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
The del keyword can also delete the dictionary completely:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
The clear() method empties the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [36]:
# The below prints the keys not the value.


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


for x in thisdict:
    print(x)
    
# For the value you need to do this or use the .get() method

for x in thisdict:
    print(thisdict[x])
    
for x in thisdict:
    print(thisdict.get(x))

brand
year
Ford
1964
Ford
1964

### Dictionary Items

Also, the .values(), .keys(), and .items() methods are very useful.

```
for x in thisdict.values():
    print(x)


for x in thisdict.keys():
    print(x)


for x, y in thisdict.items():
    print(x, y)
    
    
```


### Copy Dictionaries

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().


`mydict = thisdict.copy()`

Another way to make a copy is to use the built-in function dict(). Similar to how we can copy lists using the list() function.

`mydict = dict(thisdict)`


### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

Create a dictionary that contain three dictionaries:

In [38]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or, more practically, you can store three dictionaries in a new dictionary:

In [40]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

### Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

| Method       | Description                                                                                                 |
|--------------|-------------------------------------------------------------------------------------------------------------|
| clear()      | Removes all the elements from the dictionary                                                                |
| copy()       | Returns a copy of the dictionary                                                                            |
| fromkeys()   | Returns a dictionary with the specified keys and value                                                      |
| get()        | Returns the value of the specified key                                                                      |
| items()      | Returns a list containing a tuple for each key value pair                                                   |
| keys()       | Returns a list containing the dictionary's keys                                                             |
| pop()        | Removes the element with the specified key                                                                  |
| popitem()    | Removes the last inserted key-value pair                                                                    |
| setdefault() | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value |
| update()     | Updates the dictionary with the specified key-value pairs                                                   |
| values()     | Returns a list of all the values in the dictionary                                                          |



 Tip: Creating tables with hyphens and pipes can be tedious. To speed up the process, try using the Markdown Tables Generator or AnyWayData Markdown Export. Build a table using the graphical interface, and then copy the generated Markdown-formatted text into your file.

### Short Hand If

If you have only one statement to execute, you can put it on the same line as the if statement.

In [9]:
a = 21
b = 3

if a > b: print("a is greater than b")

a is greater than b

### Short Hand If ... Else

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [6]:
a = 2
b = 330
print("A") if a > b else print("B")

B

You can also have multiple else statements on the same line:

In [5]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [2]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [3]:
a = 33
b = 200

if b > a:
    pass

### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished.

The else block will NOT be executed if the loop is stopped by a break statement.

In [10]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

## Nested Loops for permutations

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Python Functions

Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly.

If the number of arguments is unknown, add a * before the parameter name:

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

Example
If the number of keyword arguments is unknown, add a double ** before the parameter name:

```
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")
```

## Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

```
def my_function(country = "Norway"):
  print("I am from " + country)
```


### Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [13]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Recursion

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [14]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

## Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

#### Syntax

lambda arguments : expression
The expression is executed and the result is returned:
    
Add 10 to argument a, and return the result:

In [15]:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

In [16]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [17]:
def myfunc(n):
  return lambda a : a * n

Use that function definition to make a function that always doubles the number you send in:

In [18]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [19]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

Or, use the same function definition to make both functions, in the same program:

In [20]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [22]:
def myfunc(n):
    return lambda a : a ** n

mydoubler = myfunc(2)

print(mydoubler(11))
print(mydoubler(5))

121
25

In [25]:
print(myfunc(2))
myfunc(2)(3)

<function myfunc.<locals>.<lambda> at 0x000001F470532A60>

9

## I. Lesson 1

The `.dtypes` dataframe method for dataframes from the Pandas library is different from the builtin python function `type()`

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df
df.dtypes

## II. Chuck Severance Python for Everyone Assignments.

### As the user for his total hours and rate per hour thenb calculate their pay.

In [2]:
hrs = input("Enter hours:")
rate_per_hr = input("Enter rate per hour:")
print("Pay:", float(hrs) * float(rate_per_hr))
# use 35 hrs and 2.75 for rate_per_hr. Answer: 96.25

Enter hours: 35
Enter rate per hour: 2.75

Pay: 96.25

In [3]:
chr(1)

'\x01'

3.1 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input - assume the user types numbers properly.

In [35]:
hrs = input("Enter Hours:")
rate_per_hour = input("Enter Hours:")
rate_per_hour = float(rate_per_hour)
h = float(hrs)

if h <= 40:
    print(h*rate_per_hour)
else:
    print(40*rate_per_hour + (h-40)*rate_per_hour*1.5)

Enter Hours: 45
Enter Hours: 10.5

498.75

3.3 Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F
If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85.

In [38]:
# This does not work correctly.

score = input("Enter Score: ")

try:
    fs = float(score)
    if fs > 1 | fs < 0 :
        print("Error, you are out of bounds.")
        quite()
except:
    score = input("You did not enter a number please enter a number:")
    
if fs >= .9:
    print("A")
elif fs >= .8:
    print('B')
elif fs >= .7:
    print('C')
elif fs >= .6:
    print('D')
else:
    print('F')

Enter Score:  .1
You did not enter a number please enter a number: 0

F

In [1]:
score = input("Enter Score: ")
fs = float(score)
#try:
#    fs = float(score)
#except:
    #score = input("You did not enter a number please enter a number:")    

# This does not work properly because the try except block should be in a while loop so that the score is fedback
# to the fs=float(score)

if fs > 1 or fs < 0 :
    print("Error, you are out of bounds.")
    quit()
else: 
    if fs >= .9:
        print("A")
    elif fs >= .8:
        print('B')
    elif fs >= .7:
        print('C')
    elif fs >= .6:
        print('D')
    else:
        print('F')

Enter Score:  10

Error, you are out of bounds.

In [2]:
score = input("Enter Score: ")
fs = float(score)

if fs > 1 or fs < 0 :
    print("Error, you are out of bounds.")
    quit()
else: 
    if fs >= .9:
        print("A")
    elif fs >= .8:
        print('B')
    elif fs >= .7:
        print('C')
    elif fs >= .6:
        print('D')
    else:
        print('F')

Enter Score:  .85

B

4.6 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay should be the normal rate for hours up to 40 and time-and-a-half for the hourly rate for all hours worked above 40 hours. Put the logic to do the computation of pay in a function called computepay() and use the function to do the computation. The function should return a value. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input unless you want to - you can assume the user types numbers properly. Do not name your variable sum or use the sum() function.

In [ ]:
def computepay(h, r):
    return 42.37

hrs = input("Enter Hours:")
p = computepay(45, 10.5)
print("Pay", p)

In [34]:
def computepay():
    hrs = input("Enter Hours:")
    payRate = input("Enter you pay rate:")
    
    h = float(hrs)
    p = float(payRate)
    
    if h > 40:
        pay = 40 * p + (h - 40) * p * 1.5
    else:
        pay = p * h
        
    return pay

#hrs = input("Enter Hours:")
p = computepay()
print("Pay", p)

Enter Hours: 45
Enter you pay rate: 10.5

Pay 498.75

In [2]:
def computepay():
    hrs = input("Enter Hours:")
    
    
    try:
        h = float(hrs)
    except:
        print("Error! You need to enter the hours as numbers - e.g. 45")
        quit()
        
    payRate = input("Enter you pay rate:")    
    try:
        p = float(payRate)
    except:
        print("Error! You need to enter your pay rate in numbers, e.g. 10.50")
        quit()
    
    if h > 40:
        pay = 40 * p + (h - 40) * p * 1.5
    else:
        pay = p * h
        
    return pay

In [3]:
#hrs = input("Enter Hours:")
p = computepay()
print("Pay", p)

Enter Hours: 45
Enter you pay rate: 10.5

Pay 498.75

In [4]:
p = computepay()
print("Pay", p)

Enter Hours: ten

Error! You need to enter the hours as numbers - e.g. 45

Enter you pay rate: 10

UnboundLocalError: local variable 'h' referenced before assignment

### Find the largest number in a list

In [48]:
numbers = [23, 232, 12, 43, 44, -1, -3]

largestNum = numbers[0]
for num in numbers:
    if num > largestNum:
        largestNum = num
print(largestNum)

# Making the above into a function

def find_largNum(list_of_num) :
    
    largestNum = list_of_num[0]
    
    for num in list_of_num :
        if num > largestNum :
            largestNum = num
    
    return(largestNum)

find_largNum(numbers)
find_largNum([5, -1, 324, 1e10, -1e20])

232

10000000000.0

5.2 Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. Once 'done' is entered, print out the largest and smallest of the numbers. If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number. Enter 7, 2, bob, 10, and 4 and match the output below.

In [5]:
largest = None
smallest = None

while True:
    
    num = input("Enter a number: ")
    if num == "done":
        break
        
    #print(num)
    
    try:
        num = int(num)
    except:
        print("Invalid input")
        continue
    
    if largest is None:
        largest = num
    if largest < num:
        largest = num
    if smallest is None:
        smallest = num
    if smallest > num:
        smallest = num
        

print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number:  7
Enter a number:  2
Enter a number:  bob

Invalid input

Enter a number:  10
Enter a number:  4
Enter a number:  done

Maximum is 10
Minimum is 2

In [ ]:
largest = None
smallest = None
while True:
    num = input("Enter a number: ")

    if num == "done":
        break
    print(num)
              
    try:
        num
    except: 

print("Maximum", largest)

### Find all the string methods

In [1]:
dir("string")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Some methods that look weird to me now 2022-06-29

#### zfill()

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [7]:
print("string".zfill(0))
print("string".zfill(5))
print("string".zfill(1))
print("string".zfill(20))

string
string
string
00000000000000string

#### index() vs find()

index()	find()
Returns an exception if substring isnt found	Returns -1 if substring isnt found
It shouldnt be used if you are not sure about the presence of the substring	It is the correct function to use when you are not sure about the presence of a substring
This can be applied to strings, lists and tuples	This can only be applied to strings
It cannot be used with conditional statement	It can be used with conditional statement to execute a statement if a substring is found as well if it is not

In [8]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

## Dictionaries {}

In [84]:
first_dict = dict(x1 = 2, x2 = 4)
print(first_dict)
print(first_dict['x1'])

# print(first_dict[0]) # Indexing using integer does not work for dictionaries.

{'x1': 2, 'x2': 4}
2

In [80]:
# Empty dict

dict_empty = {}
print(dict_empty)

{}

In [86]:
stuff = dict()
print(stuff.get('candy',-1))
print(stuff)

-1
{}

## Difference between range() and a list of data types.

In Python 3.x ,

range(0,3) returns a class of immutable iterable objects that lets you iterate over them, it does not produce lists, and they do not store all the elements in the range in memory, instead they produce the elements on the fly (as you are iterating over them) , whereas list(range(0,3)) produces a list (by iterating over all the elements and appending to the list internally) .

Example -

```
>>> range(0,3)
range(0, 3)
>>> list(range(0,3))
[0, 1, 2]
```

Ideally, if you only want to iterate over that range of values , range(0,3) would be faster than (list(range(0,3)) because the latter has the overhead of producing a list before you start iterating over it.

## Python Regular Expression Quick Guide

| RE       |  Functionality                                      |    
|----------|-----------------------------------------------------|
| ^        | Matches the beginning of a line                     |
| $        | Matches the end of the line                         |
| .        | Matches any character                               |
| \s       | Matches whitespace                                  |
| \S       | Matches any non-whitespace character                |
| *        | Repeats a character zero or more times              |
| *?       | Repeats a character zero or more times (non-greedy) |
| +        | Repeats a character one or more times               |
| +?       | Repeats a character one or more times (non-greedy)  |
| [aeiou]  | Matches a single character in the listed set        |
| [^XYZ]   | Matches a single character not in the listed set    |
| [a-z0-9] | The set of characters can include a range           |
| (        | Indicates where string extraction is to start       |
| )        | Indicates where string extraction is to end         |



Used the website https://www.tablesgenerator.com/markdown_tables to get the markdown syntax for creating the above markdown table.

In [42]:
import re

x = 'From: Using the : character'
y = re.findall('^F.+:', x)
print(y)

['From: Using the :']

## Assignment Questions

Write code using find() and string slicing (see section 6.10) to extract the number at the end of the line below. Convert the extracted value to a floating point number and print it out.

In [13]:
text = "X-DSPAM-Confidence:    0.8475"

idx_start = text.find('0')
num = float(text[idx_start:])
print(num)

0.8475

In [22]:
idx_start = text.find(':')
print("idx_start:", idx_start)
print(text[idx_start+1:].strip())
print('\n')
print(text[idx_start:-1])
print('\n')
num = text[-1:idx_start].strip()
print(num)
#num = float(num)
print(num)

idx_start: 18
0.8475


:    0.847

7.1 Write a program that prompts for a file name, then opens that file and reads through the file, and print the contents of the file in upper case. Use the file words.txt to produce the output below.
You can download the sample data at http://www.py4e.com/code3/words.txt

In [ ]:
# Use words.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
for line in fh:
    print(line.upper().strip())

7.2 Write a program that prompts for a file name, then opens that file and reads through the file, looking for lines of the form:
X-DSPAM-Confidence:    0.8475
Count these lines and extract the floating point values from each of the lines and compute the average of those values and produce an output as shown below. Do not use the sum() function or a variable named sum in your solution.
You can download the sample data at http://www.py4e.com/code3/mbox-short.txt when you are testing below enter mbox-short.txt as the file name.

In [48]:
url = 'https://www.py4e.com/code3/mbox-short.txt?PHPSESSID=248eee7bab36cec6d43cfec96e80bc40'

# Use the file name mbox-short.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
count = 0
value = 0
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:"):
        continue
        count += 1
    #print(line)
    
    idx_start = line.find(':')
    
    line_value = line[idx_start+1:].strip()
    line_value = float(line_value)
    #print(type(line_value), line_value)
    value += line_value
    count += 1
    #print(value)
    #print(count)
    
mean = value/count
print("Average spam confidence:", mean)
print("Done")

Enter file name:  mbox-short.txt

Average spam confidence: 0.7507185185185187
Done

### Question 8.4 

Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.
You can download the sample data at http://www.py4e.com/code3/romeo.txt

In [71]:
fname = input("Enter file name: ")
fh = open(fname)

lst = list()

for line in fh:
    
    #print(line)
    line.rstrip()
    #print(line.rstrip())
    #print(line.split())
          
    for word in line.split():
        #print(word)
        if word not in lst: lst.append(word)
        #print(lst)
        
lst.sort()     
print(lst)

Enter file name:  romeo.txt

['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

### Question 8.5 

Open the file mbox-short.txt and read it line by line. When you find a line that starts with 'From ' like the following line:
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.
Hint: make sure not to include the lines that start with 'From:'. Also look at the last line of the sample output to see how to print the count.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt

In [78]:
#fname = input("Enter file name: ")
#if len(fname) < 1:
#    fname = "mbox-short.txt"

fname = "mbox-short.txt"
fh = open(fname)
count = 0
for line in fh:
    if not line.startswith("From "): continue
    print(line.split()[1])
    count += 1
    
print("There were", count, "lines in the file with From as the first word")

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word

## Question 9.4 

Write a program to read through the mbox-short.txt and figure out who has sent the greatest number of mail messages. The program looks for 'From ' lines and takes the second word of those lines as the person who sent the mail. The program creates a Python dictionary that maps the sender's mail address to a count of the number of times they appear in the file. After the dictionary is produced, the program reads through the dictionary using a maximum loop to find the most prolific committer.

In [24]:
name = input("Enter file:")
if len(name) < 1:
    name = "mbox-short.txt"
handle = open(name)

count_dic = dict()
count_dic = {}
for line in handle :
    if not line.startswith("From ") : continue
    email = line.split()[1]
    count_dic[email] = count_dic.get(email, 0) + 1
    
#print(count_dic)
email_highest = max(count_dic, key = count_dic.get)
#print(email_highest)

highest_email = max([ (v,k) for (k,v) in count_dic.items()])
y, x = highest_email
print(x,y)

Enter file: mbox-short.txt

cwen@iupui.edu 5

In [21]:
max([ (v,k) for (k,v) in count_dic.items()])

(5, 'cwen@iupui.edu')

In [ ]:
# Second solution but very similar, but a bit better. 

count_dict = {}
name = input("Enter file:")
if len(name) < 1:
    name = "mbox-short.txt"
handle = open(name)
for line in handle :
    if not line.startswith("From "): continue
    email = line.split()[1]
    count_dict[email] = count_dict.get(email, 0) + 1

#print(count_dict)
a = max(count_dict, key = count_dict.get)
print(a, count_dict[a])

In [14]:
count_dic.items()

dict_items([('stephen.marquard@uct.ac.za', 2), ('louis@media.berkeley.edu', 3), ('zqian@umich.edu', 4), ('rjlowe@iupui.edu', 2), ('cwen@iupui.edu', 5), ('gsilver@umich.edu', 3), ('wagnermr@iupui.edu', 1), ('antranig@caret.cam.ac.uk', 1), ('gopal.ramasammycook@gmail.com', 1), ('david.horwitz@uct.ac.za', 4), ('ray@media.berkeley.edu', 1)])

In [18]:
a = [ (v,k) for (k,v) in count_dic.items()]
print([ (v,k) for (k,v) in count_dic.items()])

[(2, 'stephen.marquard@uct.ac.za'), (3, 'louis@media.berkeley.edu'), (4, 'zqian@umich.edu'), (2, 'rjlowe@iupui.edu'), (5, 'cwen@iupui.edu'), (3, 'gsilver@umich.edu'), (1, 'wagnermr@iupui.edu'), (1, 'antranig@caret.cam.ac.uk'), (1, 'gopal.ramasammycook@gmail.com'), (4, 'david.horwitz@uct.ac.za'), (1, 'ray@media.berkeley.edu')]

In [20]:
a.sort(reverse = True)
print(a)

[(5, 'cwen@iupui.edu'), (4, 'zqian@umich.edu'), (4, 'david.horwitz@uct.ac.za'), (3, 'louis@media.berkeley.edu'), (3, 'gsilver@umich.edu'), (2, 'stephen.marquard@uct.ac.za'), (2, 'rjlowe@iupui.edu'), (1, 'wagnermr@iupui.edu'), (1, 'ray@media.berkeley.edu'), (1, 'gopal.ramasammycook@gmail.com'), (1, 'antranig@caret.cam.ac.uk')]

In [7]:
max(count_dic, key = count_dic.get)

'cwen@iupui.edu'

In [10]:
max((1,2), (3,5))

(3, 5)

### Question 10.2 

Write a program to read through the mbox-short.txt and figure out the distribution by hour of the day for each of the messages. You can pull the hour out from the 'From ' line by finding the time and then splitting the string a second time using a colon.

From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008

Once you have accumulated the counts for each hour, print out the counts, sorted by hour as shown below.

In [35]:
name = 'mbox-short.txt'
handle = open(name)

#hist_hrs = dict()
hist_hrs = {}

for line in handle :
    if not line.startswith('From ') : continue
    
    time = line.split()[-2]
    hr = time.split(':')[0]
    
    hist_hrs[hr] = hist_hrs.get(hr, 0) + 1

#print(hist_hrs)

hrs = sorted(hist_hrs)

for hr in hrs:
    print(hr, hist_hrs[hr])

{'09': 2, '18': 1, '16': 4, '15': 2, '14': 1, '11': 6, '10': 3, '07': 1, '06': 1, '04': 3, '19': 1, '17': 2}
04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1

In [ ]:
name = input("Enter file:")
if len(name) < 1:
    name = "mbox-short.txt"
handle = open(name)

## LeetCode Questions

You are given a string s formed by digits and '#'. We want to map s to English lowercase characters as follows:

Characters ('a' to 'i') are represented by ('1' to '9') respectively.
Characters ('j' to 'z') are represented by ('10#' to '26#') respectively.
Return the string formed after mapping.

The test cases are generated so that a unique mapping will always exist.

 

Example 1:

Input: s = "10#11#12"
Output: "jkab"
Explanation: "j" -> "10#" , "k" -> "11#" , "a" -> "1" , "b" -> "2".
Example 2:

Input: s = "1326#"
Output: "acz"
 

Constraints:

1 <= s.length <= 1000
s consists of digits and the '#' letter.
s will be a valid string such that mapping is always possible.

In [7]:
class Solution:
    def freqAlphabets(self, s: str) -> str:
        apl = "abcdefghijklmnopqrsvwtxyz"

In [29]:
apl = "abcdefghijklmnopqrsvwtxyz"
len(apl)
apl.split()
apl_spl = [x for x in apl]

the_string = ""
for alph in apl_spl:
    the_string += alph
the_string

'abcdefghijklmnopqrsvwtxyz'

In [33]:
alphs = 'qwertyuiopasdfghjklzxcvbnm'
alphs = sorted(alphs)
print(len(alphs))

the_string = ""
for alph in alphs:
    the_string += alph
the_string

26

'abcdefghijklmnopqrstuvwxyz'

In [4]:
print("hello world")

hello world

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

```
Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]

Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]
```

In [ ]:
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        
        nums < target

In [158]:

nums_original, target = [10, 22, 2,7,11,15],  9
nums = nums_original
print(nums)
#print(nums.sort())
print(nums)
#nums < target

[10, 22, 2, 7, 11, 15]
[10, 22, 2, 7, 11, 15]

In [87]:
nums.append(target)

In [89]:
print(nums)
nums.sort()
print(nums)
idxTarget = nums.index(target)
print("idxTarget:", idxTarget)
print(nums.index(target))

candidates = nums[:idxTarget]
print(nums[:idxTarget])
highest_candidate = candidates[-1]
candidate = target - highest_candidate
print(candidate)

if candidate in nums_original:
    print([nums.index(candidate), nums.index(highest_candidate)])

[2, 7, 9, 10, 11, 15, 22]
[2, 7, 9, 10, 11, 15, 22]
idxTarget: 2
2
[2, 7]
2
[0, 1]

In [159]:
def twoSum(nums, target, prt=False) :
    
    nums_original = nums.copy()
    
    print(nums) if prt else ""
    
    nums.append(target)
    
    print(nums) if prt else ""
    
    nums.sort()
    
    print(nums) if prt else ""
    
    idxTarget = nums.index(target)
    
    print("idxTarget:", idxTarget)  if prt else ""
    print(nums.index(target)) if prt else ""

    candidates = nums[:idxTarget]
    
    print(nums[:idxTarget]) if prt else ""
    
    highest_candidate = candidates[-1]
    candidate = target - highest_candidate
    
    print(candidate) if prt else ""

    if candidate in nums_original:
        
        
        idx_hightest = nums_original.index(highest_candidate) 
        
        try:
            nums_original.index(candidate,  idx_hightest, -1)
        except:
            nums_original.index(candidate, 0, idx_hightest)
        
        print("nums_original", nums_original) if prt else ""
        idxs = [nums_original.index(candidate), nums_original.index(highest_candidate)]
    
        print(idxs)  if prt else ""
        
        return(idxs)

In [160]:
ans1 = twoSum(nums, target)
print(ans1)
print("\n")
twoSum(nums, target, True)
print(twoSum([3,3], 6))

[2, 3]


[2, 7, 9, 10, 11, 15, 22]
[2, 7, 9, 10, 11, 15, 22, 9]
[2, 7, 9, 9, 10, 11, 15, 22]
idxTarget: 2
2
[2, 7]
2
nums_original [2, 7, 9, 10, 11, 15, 22]
[0, 1]
[0, 0]

In [161]:
twoSum([3,2,4], 6, True)

[3, 2, 4]
[3, 2, 4, 6]
[2, 3, 4, 6]
idxTarget: 3
3
[2, 3, 4]
2
nums_original [3, 2, 4]
[1, 2]

[1, 2]

In [162]:
twoSum([3,3], 6)

[0, 0]

In [65]:
import numpy as np

numss = np.array(nums)
print(numss)
type(numss)

mask = numss < target
print(mask)



target - numss[mask].max()

#numss[mask].idmax()

[ 2  7 10 11 15 22]
[ True  True False False False False]

2

In [148]:
[3,3].index(3)

0

In [156]:
[1, 2, 1, 3,3].index(3, -1,-1)

ValueError: 3 is not in list

# Amazon Coding Interview Questions

### Question 1.

Find the missing number in the array

You are given an array of positive numbers from 1 to n, such that all numbers from 1 to n are present except one number x. You have to find x. The input array is not sorted. Look at the below array and give it a try before checking the solution.

3
7
1
2
8
4
5
n = 8 missing number = 6

In [14]:
seq = [3, 7, 1, 2, 8, 4, 5]

max_num = max(seq)
print(max_num)

seq_full = list(range(max_num + 1))
seq_full_sum = sum(seq_full)
print(seq_full_sum)

seq_sum = sum(seq)
print(seq_sum)

missing_number = seq_full_sum - seq_sum
print(missing_number)

8
36
30
6

In [15]:
# Creating sequences but not as range() object but as lists. Note have to add + 1 to the end if want to get it, which we usually need to get.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Question 2.

Determine if the sum of two integers is equal to the given value.

Given an array of integers and a value, determine if there are any two integers in the array whose sum is equal to the given value. Return true if the sum exists and return false if it does not. Consider this array and the target sums:

5
7
1
2
8
4
3
Target Sum
10
7+3=10, 2+8=10
Target Sum
19
No 2 values sum up to 19

### Question 3. 

Merge two sorted linked lists

Given two sorted linked lists, merge them so that the resulting linked list is also sorted. Consider two sorted linked lists and the merged list below them as an example.

In [17]:
list_1 = [4, 8, 15, 19]
list_2 = [7, 9, 10, 16]


sorted_list = []

if list_1[0] >= list_2[0] :
    sorted_list.append(list_2[0])
else :
    sorted_list.append(list_1[0])

for el_1 in list_1:
    for el_2 in list_2:
        
        print(sorted_list)
        

sorted_list = []

for i in range(  max(len(list_1), len(list_2))  ):
    min(list_1[i], list_2[i])

[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]

In [19]:
list(range(len(list_1)))

[0, 1, 2, 3]

# Edabit Python practice questions

Used google hotmail account to sign up.

Site link: https://edabit.com/challenges

Site link: https://edabit.com/challenge/2X2uZysLJ3CpsxLDD

In [4]:
def factorial(num):
	i = num
	result = 1
	while i > 0:
		result *= i
		i -= 1
	return result
print(factorial(3))
print(factorial(10))

6
3628800

In [5]:
def damage(damage, speed, time):
	if damage < 0 or speed < 0:
		return "invalid"
	else:
		if time == "minute":
			return damage * speed * 60
		elif time == "hour":
			return damage * speed * 60 * 60
		else:
			return damage * speed