# Learning Python

Some basics

In [5]:
#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

## W 3 Schools Lessons

#### Multi-assignment in python

In [3]:
x, y, z, = 1, 2, 3
print(x, y, z)

1 2 3

#### Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#### Float and scientific notation for writing floats

Float can also be scientific numbers with an "e" or "E" to indicate the power of 10.

In [21]:
x = 35e3
y = 12E4
z = -87.7e100

print(x, "\n", y, "\n", z)

35000.0
 120000.0
 -8.77e+101

In [10]:
# Get the datatype
try:
    x1 = {name:"Faizan", "age":34}
except:
    print("Did not define the dict correctly.", "\n")

x1 = {"name":"Faizan", "age":34}
print(x1)

try:
    for obj in list:
        try:
            print(type(obj))
        except:
            print("The obj is not assinged anything.|")
except:
    print("Learning with errors.", "\n")

Did not define the dict correctly.

{'name': 'Faizan', 'age': 34}
Learning with errors.

#### The correct way of creating a dictionary obj

Use this `x = dict(name = "Faizan", age = 34)`

Instead of `x = {"name" = "Faizan", "age" = 34}`

There is a lot less typing invovled in the first method. Also, not making the key a string feels more natural to me, though for automation it is of course better to have the key entered as a string. Also, using the equal sign `=` instead of the colon `:` for linking the key with the value also feels more natural.

In [11]:
x = dict(name="John", age=36)
print(x, type(x))

{'name': 'John', 'age': 36} <class 'dict'>

In [3]:
x = memoryview(bytes(5))
x

### Random Numbers in Python

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:
Import the random module, and display a random number between 1 and 9:

In [22]:
import random

print(random.randrange(1, 10))

1

Below we talk about the random functions found in pandas and numpy libraries.

The basic R function that does random sampling given probability vector is the following: 

numpy.random.choice(a, size=None, replace=True, p=None) # Here p needs to be a probability I believe. 

and 

 df['a'].sample(4, replace=True, weights=df['b']) # Advantage is that

## Strings, String Methods, and manipulation in python

String manipulation is amazing in python. It is next level in my humble opinion.

In [23]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [24]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [25]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

We can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [27]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [28]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [30]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Illegal characters

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

Method	Description
* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

## Boolians

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

In [9]:
x, y, z, z1, z2, z3 = "Hello", 15, -1, "", 0, None
print(x, y, z, z1, z2, z3)
print( bool(x), bool(y), bool(z), bool(z1), bool(z2), bool(z3) )

Hello 15 -1  0 None
True True True False False False

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [11]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions Can also return Boolans
You can create functions that returns a Boolean Value:

Also, You can execute code based on the Boolean answer of a function:  !!!!

In [12]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

This is useful for automation where the type and the obj can be passed into the function isinstance():

In [13]:
x = 200
print(isinstance(x, int))

True

## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

%	         Modulus	     x % y This is the remainder operator the percent sign %

In [14]:
4%2

0

In [15]:
5%2

1

In [16]:
15%2

1

//	Floor division	x // y

In [20]:
4//2, 3//2, 5//2, 15//2

(2, 1, 2, 7)

In [23]:
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

## Lists Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [24]:
["apple", "banana", "cherry", "apple", "cherry"]

['apple', 'banana', 'cherry', 'apple', 'cherry']

A list can contain different data types:

In [25]:
["abc", 34, True, 40, "male"]

['abc', 34, True, 40, 'male']

## Python Collections (Arrays) Summary

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable**, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered*** and changeable. No duplicate members.

** Set items are unchangeable, but you can remove and/or add items whenever you like.

*** As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## List Methods

### Sort()

This reverse argument can be very usefull: `thislist.sort(reverse = True)`

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

## Append Items

In [34]:
# We can append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [35]:
# Insert "watermelon" as the third item: 
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Extend List

To append elements from another list to the current list, use the extend() method.

Add the elements of tropical to thislist:

In [36]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

Add elements of a tuple to a list:

In [37]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Now try adding elements from a dictionary to the list.

## Remove Specified Item by specifying the actual object

The str.remove() method removes the specified item.

This list method modifies the actual list!!

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

## Remove Specified Index

The str.pop() method removes the specified index.

If you do not specify the index, the pop() method removes the last item.

This list method modifies the actual list!!!!!

In [44]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.pop(1)
print(thislist)
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']
['apple']

### The del keyword

The del keyword also removes the specified index:

`del thislist[0]`

The del keyword can also delete the list completely.

`del thislist`

## Clear the List

The clear() method empties the list.

The list still remains, but it has no content.

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Case Insensitive Sort

Case sensitive sorting can give an unexpected result.

Perform a case-insensitive sort of the list:

In [38]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

## Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

Another way to make a copy is to use the built-in method list().
Make a copy of a list with the list() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

## List Comprehension

Makes syntax concise!! So useful and beautiful.

#### The Syntax
`newlist = [expression for item in iterable if condition == True]`

Same list but make everything lower or upper if the word contains the letter "a".

`ulist = [x.upper() for x in list_of_strings if a in x]`

This is really amazing and interesting.


The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [34]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [25]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist] # Quickest way to loop and create list

apple
banana
cherry

[None, None, None]

In [31]:
# Long way of making a list with only fruits containing the letter "a".

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [32]:
# With list comprehension you can do all that with only one line of code:

# complete list
print([x for x in fruits])

# list with if condition
print([x for x in fruits if 'a' in x])

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'mango']

### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [56]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

lists = list1 + list2
print(lists)

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list.

Use the extend() method to add list2 at the end of list1:

In [51]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Method	Description

- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

#### Notice that the find method that exists for the string method does not exist here as a list method. So for lists need to use the index() method.

In [54]:
x = range(5)
print(range(5))

range(0, 5)

In [55]:
x = list(range(5))
x

[0, 1, 2, 3, 4]

In [58]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

## I. Lesson 1

The `.dtypes` dataframe method for dataframes from the Pandas library is different from the builtin python function `type()`

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame()

In [5]:
df
df.dtypes

Series([], dtype: object)

## II. Chuck Severance Python for Everyone Assignments.

### As the user for his total hours and rate per hour thenb calculate their pay.

In [2]:
hrs = input("Enter hours:")
rate_per_hr = input("Enter rate per hour:")
print("Pay:", float(hrs) * float(rate_per_hr))
# use 35 hrs and 2.75 for rate_per_hr. Answer: 96.25

Enter hours: 35
Enter rate per hour: 2.75

Pay: 96.25

In [3]:
chr(1)

'\x01'

3.1 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input - assume the user types numbers properly.

In [35]:
hrs = input("Enter Hours:")
rate_per_hour = input("Enter Hours:")
rate_per_hour = float(rate_per_hour)
h = float(hrs)

if h <= 40:
    print(h*rate_per_hour)
else:
    print(40*rate_per_hour + (h-40)*rate_per_hour*1.5)

Enter Hours: 45
Enter Hours: 10.5

498.75

3.3 Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F
If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85.

In [38]:
# This does not work correctly.

score = input("Enter Score: ")

try:
    fs = float(score)
    if fs > 1 | fs < 0 :
        print("Error, you are out of bounds.")
        quite()
except:
    score = input("You did not enter a number please enter a number:")
    
if fs >= .9:
    print("A")
elif fs >= .8:
    print('B')
elif fs >= .7:
    print('C')
elif fs >= .6:
    print('D')
else:
    print('F')

Enter Score:  .1
You did not enter a number please enter a number: 0

F

In [1]:
score = input("Enter Score: ")
fs = float(score)
#try:
#    fs = float(score)
#except:
    #score = input("You did not enter a number please enter a number:")    

# This does not work properly because the try except block should be in a while loop so that the score is fedback
# to the fs=float(score)

if fs > 1 or fs < 0 :
    print("Error, you are out of bounds.")
    quit()
else: 
    if fs >= .9:
        print("A")
    elif fs >= .8:
        print('B')
    elif fs >= .7:
        print('C')
    elif fs >= .6:
        print('D')
    else:
        print('F')

Enter Score:  10

Error, you are out of bounds.

In [2]:
score = input("Enter Score: ")
fs = float(score)

if fs > 1 or fs < 0 :
    print("Error, you are out of bounds.")
    quit()
else: 
    if fs >= .9:
        print("A")
    elif fs >= .8:
        print('B')
    elif fs >= .7:
        print('C')
    elif fs >= .6:
        print('D')
    else:
        print('F')

Enter Score:  .85

B

4.6 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay should be the normal rate for hours up to 40 and time-and-a-half for the hourly rate for all hours worked above 40 hours. Put the logic to do the computation of pay in a function called computepay() and use the function to do the computation. The function should return a value. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input unless you want to - you can assume the user types numbers properly. Do not name your variable sum or use the sum() function.

In [ ]:
def computepay(h, r):
    return 42.37

hrs = input("Enter Hours:")
p = computepay(45, 10.5)
print("Pay", p)

In [34]:
def computepay():
    hrs = input("Enter Hours:")
    payRate = input("Enter you pay rate:")
    
    h = float(hrs)
    p = float(payRate)
    
    if h > 40:
        pay = 40 * p + (h - 40) * p * 1.5
    else:
        pay = p * h
        
    return pay

#hrs = input("Enter Hours:")
p = computepay()
print("Pay", p)

Enter Hours: 45
Enter you pay rate: 10.5

Pay 498.75

In [2]:
def computepay():
    hrs = input("Enter Hours:")
    
    
    try:
        h = float(hrs)
    except:
        print("Error! You need to enter the hours as numbers - e.g. 45")
        quit()
        
    payRate = input("Enter you pay rate:")    
    try:
        p = float(payRate)
    except:
        print("Error! You need to enter your pay rate in numbers, e.g. 10.50")
        quit()
    
    if h > 40:
        pay = 40 * p + (h - 40) * p * 1.5
    else:
        pay = p * h
        
    return pay

In [3]:
#hrs = input("Enter Hours:")
p = computepay()
print("Pay", p)

Enter Hours: 45
Enter you pay rate: 10.5

Pay 498.75

In [4]:
p = computepay()
print("Pay", p)

Enter Hours: ten

Error! You need to enter the hours as numbers - e.g. 45

Enter you pay rate: 10

UnboundLocalError: local variable 'h' referenced before assignment

### Find the largest number in a list

In [48]:
numbers = [23, 232, 12, 43, 44, -1, -3]

largestNum = numbers[0]
for num in numbers:
    if num > largestNum:
        largestNum = num
print(largestNum)

# Making the above into a function

def find_largNum(list_of_num) :
    
    largestNum = list_of_num[0]
    
    for num in list_of_num :
        if num > largestNum :
            largestNum = num
    
    return(largestNum)

find_largNum(numbers)
find_largNum([5, -1, 324, 1e10, -1e20])

232

10000000000.0

5.2 Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. Once 'done' is entered, print out the largest and smallest of the numbers. If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number. Enter 7, 2, bob, 10, and 4 and match the output below.

In [5]:
largest = None
smallest = None

while True:
    
    num = input("Enter a number: ")
    if num == "done":
        break
        
    #print(num)
    
    try:
        num = int(num)
    except:
        print("Invalid input")
        continue
    
    if largest is None:
        largest = num
    if largest < num:
        largest = num
    if smallest is None:
        smallest = num
    if smallest > num:
        smallest = num
        

print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number:  7
Enter a number:  2
Enter a number:  bob

Invalid input

Enter a number:  10
Enter a number:  4
Enter a number:  done

Maximum is 10
Minimum is 2

In [ ]:
largest = None
smallest = None
while True:
    num = input("Enter a number: ")

    if num == "done":
        break
    print(num)
              
    try:
        num
    except: 

print("Maximum", largest)

### Find all the string methods

In [1]:
dir("string")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Some methods that look weird to me now 2022-06-29

#### zfill()

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [7]:
print("string".zfill(0))
print("string".zfill(5))
print("string".zfill(1))
print("string".zfill(20))

string
string
string
00000000000000string

#### index() vs find()

index()	find()
Returns an exception if substring isn’t found	Returns -1 if substring isn’t found
It shouldn’t be used if you are not sure about the presence of the substring	It is the correct function to use when you are not sure about the presence of a substring
This can be applied to strings, lists and tuples	This can only be applied to strings
It cannot be used with conditional statement	It can be used with conditional statement to execute a statement if a substring is found as well if it is not

In [8]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

## Dictionaries {}

In [84]:
first_dict = dict(x1 = 2, x2 = 4)
print(first_dict)
print(first_dict['x1'])

# print(first_dict[0]) # Indexing using integer does not work for dictionaries.

{'x1': 2, 'x2': 4}
2

In [80]:
# Empty dict

dict_empty = {}
print(dict_empty)

{}

In [86]:
stuff = dict()
print(stuff.get('candy',-1))
print(stuff)

-1
{}

## Assignment Questions

Write code using find() and string slicing (see section 6.10) to extract the number at the end of the line below. Convert the extracted value to a floating point number and print it out.

In [13]:
text = "X-DSPAM-Confidence:    0.8475"

idx_start = text.find('0')
num = float(text[idx_start:])
print(num)

0.8475

In [22]:
idx_start = text.find(':')
print("idx_start:", idx_start)
print(text[idx_start+1:].strip())
print('\n')
print(text[idx_start:-1])
print('\n')
num = text[-1:idx_start].strip()
print(num)
#num = float(num)
print(num)

idx_start: 18
0.8475


:    0.847

7.1 Write a program that prompts for a file name, then opens that file and reads through the file, and print the contents of the file in upper case. Use the file words.txt to produce the output below.
You can download the sample data at http://www.py4e.com/code3/words.txt

In [ ]:
# Use words.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
for line in fh:
    print(line.upper().strip())

7.2 Write a program that prompts for a file name, then opens that file and reads through the file, looking for lines of the form:
X-DSPAM-Confidence:    0.8475
Count these lines and extract the floating point values from each of the lines and compute the average of those values and produce an output as shown below. Do not use the sum() function or a variable named sum in your solution.
You can download the sample data at http://www.py4e.com/code3/mbox-short.txt when you are testing below enter mbox-short.txt as the file name.

In [48]:
url = 'https://www.py4e.com/code3/mbox-short.txt?PHPSESSID=248eee7bab36cec6d43cfec96e80bc40'

# Use the file name mbox-short.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
count = 0
value = 0
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:"):
        continue
        count += 1
    #print(line)
    
    idx_start = line.find(':')
    
    line_value = line[idx_start+1:].strip()
    line_value = float(line_value)
    #print(type(line_value), line_value)
    value += line_value
    count += 1
    #print(value)
    #print(count)
    
mean = value/count
print("Average spam confidence:", mean)
print("Done")

Enter file name:  mbox-short.txt

Average spam confidence: 0.7507185185185187
Done

### Question 8.4 

Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.
You can download the sample data at http://www.py4e.com/code3/romeo.txt

In [71]:
fname = input("Enter file name: ")
fh = open(fname)

lst = list()

for line in fh:
    
    #print(line)
    line.rstrip()
    #print(line.rstrip())
    #print(line.split())
          
    for word in line.split():
        #print(word)
        if word not in lst: lst.append(word)
        #print(lst)
        
lst.sort()     
print(lst)

Enter file name:  romeo.txt

['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

### Question 8.5 

Open the file mbox-short.txt and read it line by line. When you find a line that starts with 'From ' like the following line:
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.
Hint: make sure not to include the lines that start with 'From:'. Also look at the last line of the sample output to see how to print the count.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt

In [78]:
#fname = input("Enter file name: ")
#if len(fname) < 1:
#    fname = "mbox-short.txt"

fname = "mbox-short.txt"
fh = open(fname)
count = 0
for line in fh:
    if not line.startswith("From "): continue
    print(line.split()[1])
    count += 1
    
print("There were", count, "lines in the file with From as the first word")

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word

## LeetCode Questions

You are given a string s formed by digits and '#'. We want to map s to English lowercase characters as follows:

Characters ('a' to 'i') are represented by ('1' to '9') respectively.
Characters ('j' to 'z') are represented by ('10#' to '26#') respectively.
Return the string formed after mapping.

The test cases are generated so that a unique mapping will always exist.

 

Example 1:

Input: s = "10#11#12"
Output: "jkab"
Explanation: "j" -> "10#" , "k" -> "11#" , "a" -> "1" , "b" -> "2".
Example 2:

Input: s = "1326#"
Output: "acz"
 

Constraints:

1 <= s.length <= 1000
s consists of digits and the '#' letter.
s will be a valid string such that mapping is always possible.

In [7]:
class Solution:
    def freqAlphabets(self, s: str) -> str:
        apl = "abcdefghijklmnopqrsvwtxyz"

In [29]:
apl = "abcdefghijklmnopqrsvwtxyz"
len(apl)
apl.split()
apl_spl = [x for x in apl]

the_string = ""
for alph in apl_spl:
    the_string += alph
the_string

'abcdefghijklmnopqrsvwtxyz'

In [33]:
alphs = 'qwertyuiopasdfghjklzxcvbnm'
alphs = sorted(alphs)
print(len(alphs))

the_string = ""
for alph in alphs:
    the_string += alph
the_string

26

'abcdefghijklmnopqrstuvwxyz'

In [4]:
print("hello world")

hello world

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

```
Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]

Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]
```

In [ ]:
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        
        nums < target

In [158]:

nums_original, target = [10, 22, 2,7,11,15],  9
nums = nums_original
print(nums)
#print(nums.sort())
print(nums)
#nums < target

[10, 22, 2, 7, 11, 15]
[10, 22, 2, 7, 11, 15]

In [87]:
nums.append(target)

In [89]:
print(nums)
nums.sort()
print(nums)
idxTarget = nums.index(target)
print("idxTarget:", idxTarget)
print(nums.index(target))

candidates = nums[:idxTarget]
print(nums[:idxTarget])
highest_candidate = candidates[-1]
candidate = target - highest_candidate
print(candidate)

if candidate in nums_original:
    print([nums.index(candidate), nums.index(highest_candidate)])

[2, 7, 9, 10, 11, 15, 22]
[2, 7, 9, 10, 11, 15, 22]
idxTarget: 2
2
[2, 7]
2
[0, 1]

In [159]:
def twoSum(nums, target, prt=False) :
    
    nums_original = nums.copy()
    
    print(nums) if prt else ""
    
    nums.append(target)
    
    print(nums) if prt else ""
    
    nums.sort()
    
    print(nums) if prt else ""
    
    idxTarget = nums.index(target)
    
    print("idxTarget:", idxTarget)  if prt else ""
    print(nums.index(target)) if prt else ""

    candidates = nums[:idxTarget]
    
    print(nums[:idxTarget]) if prt else ""
    
    highest_candidate = candidates[-1]
    candidate = target - highest_candidate
    
    print(candidate) if prt else ""

    if candidate in nums_original:
        
        
        idx_hightest = nums_original.index(highest_candidate) 
        
        try:
            nums_original.index(candidate,  idx_hightest, -1)
        except:
            nums_original.index(candidate, 0, idx_hightest)
        
        print("nums_original", nums_original) if prt else ""
        idxs = [nums_original.index(candidate), nums_original.index(highest_candidate)]
    
        print(idxs)  if prt else ""
        
        return(idxs)

In [160]:
ans1 = twoSum(nums, target)
print(ans1)
print("\n")
twoSum(nums, target, True)
print(twoSum([3,3], 6))

[2, 3]


[2, 7, 9, 10, 11, 15, 22]
[2, 7, 9, 10, 11, 15, 22, 9]
[2, 7, 9, 9, 10, 11, 15, 22]
idxTarget: 2
2
[2, 7]
2
nums_original [2, 7, 9, 10, 11, 15, 22]
[0, 1]
[0, 0]

In [161]:
twoSum([3,2,4], 6, True)

[3, 2, 4]
[3, 2, 4, 6]
[2, 3, 4, 6]
idxTarget: 3
3
[2, 3, 4]
2
nums_original [3, 2, 4]
[1, 2]

[1, 2]

In [162]:
twoSum([3,3], 6)

[0, 0]

In [65]:
import numpy as np

numss = np.array(nums)
print(numss)
type(numss)

mask = numss < target
print(mask)



target - numss[mask].max()

#numss[mask].idmax()

[ 2  7 10 11 15 22]
[ True  True False False False False]

2

In [148]:
[3,3].index(3)

0

In [156]:
[1, 2, 1, 3,3].index(3, -1,-1)

ValueError: 3 is not in list

# Amazon Coding Interview Questions

### Question 1.

Find the missing number in the array

You are given an array of positive numbers from 1 to n, such that all numbers from 1 to n are present except one number x. You have to find x. The input array is not sorted. Look at the below array and give it a try before checking the solution.

3
7
1
2
8
4
5
n = 8 missing number = 6

In [14]:
seq = [3, 7, 1, 2, 8, 4, 5]

max_num = max(seq)
print(max_num)

seq_full = list(range(max_num + 1))
seq_full_sum = sum(seq_full)
print(seq_full_sum)

seq_sum = sum(seq)
print(seq_sum)

missing_number = seq_full_sum - seq_sum
print(missing_number)

8
36
30
6

In [15]:
# Creating sequences but not as range() object but as lists. Note have to add + 1 to the end if want to get it, which we usually need to get.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Question 2.

Determine if the sum of two integers is equal to the given value.

Given an array of integers and a value, determine if there are any two integers in the array whose sum is equal to the given value. Return true if the sum exists and return false if it does not. Consider this array and the target sums:

5
7
1
2
8
4
3
Target Sum
10
7+3=10, 2+8=10
Target Sum
19
No 2 values sum up to 19

### Question 3. 

Merge two sorted linked lists

Given two sorted linked lists, merge them so that the resulting linked list is also sorted. Consider two sorted linked lists and the merged list below them as an example.

In [17]:
list_1 = [4, 8, 15, 19]
list_2 = [7, 9, 10, 16]


sorted_list = []

if list_1[0] >= list_2[0] :
    sorted_list.append(list_2[0])
else :
    sorted_list.append(list_1[0])

for el_1 in list_1:
    for el_2 in list_2:
        
        print(sorted_list)
        

sorted_list = []

for i in range(  max(len(list_1), len(list_2))  ):
    min(list_1[i], list_2[i])

[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]

In [19]:
list(range(len(list_1)))

[0, 1, 2, 3]

Sanofi Code Signal Tests

In [1]:
xs = [()]
print(xs)

[()]

In [2]:
type(xs)

list

In [3]:
xs = [()]
res = [False] * 2
print(res)

[False, False]

In [4]:
xs = [()]
res = [False] * 2
if xs:
    res[0] = True
if xs[0]:
    res[1] = True

In [5]:
print(res)

[True, False]

In [6]:
a = True
b = True

not (a==b)

False

In [7]:
a == not b

SyntaxError: invalid syntax (2402672868.py, line 1)

In [8]:
not a == b

False

In [9]:
a == (not b)

False

In [11]:
4.to_bytes()

SyntaxError: invalid syntax (3125569042.py, line 1)

In [12]:
a = 4
a.to_bytes

In [16]:
b = 4
b.bit_length
b.size

AttributeError: 'int' object has no attribute 'size'

In [18]:
c = 4
c.size()

AttributeError: 'int' object has no attribute 'size'

In [ ]:
def solution(n):
    return n.bit_length()

In [21]:
type(c)

int

In [22]:
def solution(n):
    if type(n) == int:
        return n % 2
    else:
        return -1

In [23]:
solution(15)

1

In [24]:
solution(15.1)

-1

To understand how efficient the built-in Python sorting function is, you decided to implement your own simple sorting algorithm and compare its speed to the speed of the Python sorting. Write a function that, given an array of integers arr, sorts its elements in ascending order.

Hint: with Python it's possible to swap several elements in a single line. To solve the task, use this knowledge to fill in both of the blanks (...).

Example

For arr = [2, 4, 1, 5], the output should be
solution(arr) = [1, 2, 4, 5].

In [ ]:
def solution(arr):

    n = len(arr)

    for i in range(n):
        j = 0
        stop = n - i
        while j < stop - 1:
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j+1], arr[j]
            j += 1
    return arr

Your university professor decided to have a little fun and asked the class to implement a function that, given a number n and a base x, converts the number from base x to base 16. To make things more interesting, he announced that the first student to write the solution will have to answer fewer question than the rest of the class during the final exam.

Laughing devilishly, you asked if it was okay to use a language of your choice, and the unsuspecting professor answered "yes". It's settled then: Python is your language of choice!

Now you're bound to win. Implement a function that, given an integer number n and a base x, converts n from base x to base 16.

In [2]:
# Install pylint

!pip install pylint

Requirement already satisfied: pylint in c:\users\cube statistica\anaconda3\lib\site-packages (2.9.6)
Requirement already satisfied: astroid<2.7,>=2.6.5 in c:\users\cube statistica\anaconda3\lib\site-packages (from pylint) (2.6.6)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\users\cube statistica\anaconda3\lib\site-packages (from pylint) (0.6.1)
Requirement already satisfied: toml>=0.7.1 in c:\users\cube statistica\anaconda3\lib\site-packages (from pylint) (0.10.2)
Requirement already satisfied: colorama in c:\users\cube statistica\anaconda3\lib\site-packages (from pylint) (0.4.4)
Requirement already satisfied: isort<6,>=4.2.5 in c:\users\cube statistica\anaconda3\lib\site-packages (from pylint) (5.9.3)
Requirement already satisfied: wrapt<1.13,>=1.11 in c:\users\cube statistica\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in c:\users\cube statistica\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
Requirement already satisfied: setuptools>=20.0 in c:\users\cube statistica\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (61.2.0)

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

The below is incorrect because we need the remainder to be 0.

In [ ]:


def is_leap(year):
    leap = False
    
    # Write your logic here
    
    if year // 4 == 0:
        leap = True
        if year // 100 != 0:
            leap = False
            if year // 400 == 0:
                leap = True
    return leap

year = int(input())
print(is_leap(year))

In [ ]:
def is_leap(year):
    leap = False
    
    # Write your logic here
 
    # Write your logic here
    #if year%4==0 and year%100!=0 :
    #    leap=True
    #if year%400==0:
    #    leap=True
    #return leap
    
    if year % 4 == 0:
        leap = True
        if year % 100 == 0:
            leap = False
            if year % 400 == 0:
                leap = True
    return leap

In [6]:
# Difference btw "/", "//", "%"

print(6/3)
print(6//3)
print(6%3)

2.0
2
0

In [5]:
6//3

2

In [9]:
# Understanding greater and less than equal to logical operator.

2 <= 3
2 >= 3

2 =< 3

SyntaxError: cannot assign to literal (3423770685.py, line 6)

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())

if n % 2 != 0:
    print("Weird")
elif 2 <= n & n >= 5:
    print("Not Weird")
elif 6 <= n & n >= 20:
    print("Weird")
else:
    print("Not Weird")

In [12]:
n = input()
n = int(n.strip())

if n % 2 != 0:
    print("Weird")
elif (2 <= n) & (n >= 5):
    print("Not Weird")
elif (6 <= n) & (n >= 20):
    print("Weird")
else:
    print("Not Weird")

ValueError: invalid literal for int() with base 10: ''

In [14]:
input("What is your name?")

''

In [24]:
1 % 2

1

In [26]:
2 % 2

0

In [25]:
3 % 2

1

In [32]:
# The below is wrong because this is not how we write n less than 5 nor n less than 20.

def func_weird(n):
    if n % 2 != 0:
        print("Weird")
        print("a-odd")
        print("")
    elif (2 <= n) & (n >= 5):
        print("Not Weird")
        print("b-even")
        print("")
    elif (6 <= n) & (n >= 20):
        print("Weird")
        print("c-even")
    else:
        print("Not Weird")
        print("d-even")
        print("")

In [33]:
for i in [1, 2, 3, 7, 10, 21]:
    print(i)
    func_weird(i)

1
Weird
a-odd

2
Not Weird
d-even

3
Weird
a-odd

7
Weird
a-odd

10
Not Weird
b-even

21
Weird
a-odd

In [34]:
def weird_func(n):

    if n % 2 != 0:
        print("Weird")
    elif (2 <= n) & (5 >= n): # This is how we write n less than or equal to 5.
        print("Not Weird")
    elif (6 <= n) & (20 >= n): # This is how we write n less than or equal to 20.
        print("Weird")
    else:
        print("Not Weird")

In [35]:
for i in [1, 2, 3, 4, 5, 6, 10, 11, 17, 20, 21]:
    weird_func(i)

Weird
Not Weird
Weird
Not Weird
Weird
Weird
Weird
Weird
Weird
Weird
Weird

In [36]:
n

26

In [37]:
n in range(2, 26)

False

In [38]:
n in range(2, 27)

True

In [42]:
lll = list(range(2,26))
print(lll)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:


Note that "" represents the consecutive values in between.

Example

Print the string .

In [43]:
def num_print(n):
    num = ''
    for i in range(1,n+1):
        num = num + str(i)
    print(int(num))

In [44]:
for i in [1, 2, 5, 6, 14]:
    num_print(i)

1
12
12345
123456
1234567891011121314

In [47]:
# Better solution
n = 7
for i in range(1, n+1):
    print(i, end="")

1234567

In [48]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
arr = [1,2 ,3,4,343, 3]

max(arr)

#arr.remove(max(arr))
print(arr)

[1, 2, 3, 4, 343, 3]

In [17]:
num_max = max(arr)
num_max

343

In [18]:
arr.remove(num_max)
arr

[1, 2, 3, 4, 3]

In [20]:
runnerUp = max(arr)
print(runnerUp)

4

In [22]:
arr = [1,2 ,3,4,343, 3]
num_max = max(arr)
arr.remove(num_max)
runnerUp = max(arr)
print(runnerUp)

4

In [24]:
arr = [1,2 ,3,4,343, 3]

In [25]:
ll = [i for i in arr]
num_max = max(ll)
ll.remove(num_max)
runnerUp = max(ll)
print(runnerUp)

4

In [37]:
myList = ['1.1', '2.2', '3.3']
myString = "2 3 6 6 5"
myList = myString.split()
print(myList)
myMap = map(float, myList)
myMap

['2', '3', '6', '6', '5']

In [38]:
ll = [i for i in myMap]
print(ll)
num_max = max(ll)
newList = [i for i in ll if i != num_max]
runnerUp = max(newList)
print(runnerUp)

[2.0, 3.0, 6.0, 6.0, 5.0]
5.0

### Great solutions to this problem.

In [63]:
## Question
myString = "2 6 3 6 5"
myList = myString.split()
print(myList)
myMap = map(float, myList)
print(myMap)

['2', '6', '3', '6', '5']
<map object at 0x00000219E9A5FC10>

In [46]:
# 1 Best solution
ll = list(set(myMap)) #Set is one of the ways to make the list with only unique values.
print(ll)
ll.remove(max(ll))
runnerUp = max(ll)
print(runnerUp)

[2.0, 3.0, 5.0, 6.0]
5.0

In [64]:
## Question
myString = "2 6 3 6 5"
myList = myString.split()
print(myList)
myMap = map(float, myList)
print(myMap)

# Best Solution 2
ll = list(set(myMap))
print(ll)
ll.sort()
print(ll)
runnerUp = ll[-2]
print(runnerUp)

[2.0, 3.0, 5.0, 6.0]
[2.0, 3.0, 5.0, 6.0]
5.0