In [1]:
m = [1,2,3,8,9,10,11,15,16,17,18]
Start , End
1, 3
8, 11
15, 18

NameError: name 'Start' is not defined

In [2]:
def start_stop_seq_fn(m):
    length = len(m)
    
    start = m[0]
    end = []
    
    for i in array(length):
        diff = m[i+1] - m[i]
        if diff > 1 :
            end.append(m[i+1])
            start.append(m[i+2])

In [3]:
import numpy as np
a = range(5)
a

range(0, 5)

In [4]:
m = [1,2,3,8,9,10,11,15,16,17,18]    
start = []
end = []
start
start.append(1)

In [5]:
length = len(m)
range(length)
start = []
end = []

start.append(m[0])

for i in range(length-1):
    #print('i', i)
    #print('start', start)
    #print('end', end)
    
    diff = m[i+1] - m[i]
    
    if diff > 1 :
        end.append(m[i])
        start.append(m[i+1])
end.append(m[-1])

print(start)
print(end)

[1, 8, 15]
[3, 11, 18]

In [53]:
import pandas as pd
df = {'start': start, 'end':end}
print(df)
dff = pd.DataFrame(df)
dff
#df = pd.concat([start], [end], axis = 1)

{'start': [1, 8, 15], 'end': [3, 11, 18]}

   start  end
0      1    3
1      8   11
2     15   18

In [29]:
start

[1, 8, 15]

In [30]:
end

[3, 11, 18]

In [24]:
length = len(m)
len(range(0, length, 1))

11

In [26]:
len(m)

11

In [7]:
len(range(5))

5

In [11]:
import pandas as pd

df = dict(start = start, end = end)

print(df) # This shows the dictionary was correctly created.



dff = pd.DataFrame(df)
dff
#df = pd.concat([start], [end], axis = 1)

{'start': [1, 8, 15], 'end': [3, 11, 18]}

   start  end
0      1    3
1      8   11
2     15   18